[user]
        name = yuta.sano
        email = snyt45@gmail.com
[core]
        editor = nvim
        pager = hunk pager
[column]
        ui = auto
[branch]
        sort = -committerdate
[commit]
        verbose = true
[diff]
        algorithm = histogram
[rebase]
        autosquash = true
[push]
	autoSetupRemote = true
[alias]
	s = status
	l = log --pretty=format:"%C(yellow)%h%C(cyan)%x09%an%Creset%x09%C(magenta)%ar%x09%Creset%s" -50
	ps = push
	ds = diff --staged
