[user]
        name = yuta.sano
        email = snyt45@gmail.com
[core]
        editor = nvim
[column]
        ui = auto
[branch]
        sort = -committerdate
[commit]
        verbose = true
[diff]
        algorithm = histogram
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
[rebase]
        autosquash = true
[alias]
    s = status
    l = log --pretty=format:"%C(yellow)%h%C(cyan)%x09%an%Creset%x09%C(magenta)%ar%x09%Creset%s" -50
