[user]
        name = yuta.sano
        email = snyt45@gmail.com
[core]
        editor = vim
[alias]
        bc = "!git branch | fzf | cut -c3- | xargs git checkout"
        s = status
        ss = status -s
        l = log --pretty=format:"%C(yellow)%h%C(cyan)%x09%an%Creset%x09%C(magenta)%ar%x09%Creset%s" -20
        ll = log --pretty=format:"%C(yellow)%h%C(cyan)%x09%an%Creset%x09%C(magenta)%ar%x09%Creset%s"
        ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
[rebase]
        autosquash = true
